.transaction__form-container {
  margin-top: 32px;
  margin-bottom: 48px;

  background-color: var(--off-white-color);
  border: 1px solid var(--placeholder-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .transaction__form {
    display: flex;
    align-items: center;
  }
  .transaction__form-column {
    padding: 0 20px;
    flex: 1;
    border-right: 1px solid var(--placeholder-color);
    & > div:first-child,
    & > label:first-child {
      color: var(--primary-dark-color);
      font-size: var(--bold-small-size);
    }
  }

  .transaction__form-column {
    font-size: var(--bold-medium-size);
    margin: 16px 0 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    .empty,
    input::placeholder {
      color: var(--label-color);
    }

    .category__dropdown-btn,
    .payment__dropdown-btn {
      padding: 5px;
      cursor: pointer;
    }
  }

  .transaction__date,
  .transaction__price {
    input {
      width: 100%;
    }
  }
  .transaction__price {
    display: flex;
    border: none;
    padding-right: 0;
    & > div {
      display: flex;
      padding-right: 10px;
    }
  }

  .transaction__method > div:nth-child(2),
  .transaction__category > div:nth-child(2) {
    display: flex;
    gap: 8px;
    .form-dropdown-btn {
      cursor: pointer;
    }
  }

  .transaction__form-submit-btn {
    padding-right: 24px;
  }

  .transaction-form__error {
    padding-left: 20px;
    margin-bottom: 12px;
    height: 10px;
    color: var(--error-color);
    font-size: var(--bold-medium-size);
  }
}

.transaction__type {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 0 24px;
  .transaction__type-btns {
    display: flex;
    gap: 16px;
    color: var(--label-color);
    font-size: var(--bold-medium-size);
  }
  .transaction__type-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border: 1px solid var(--primary-color);
    padding: 4px 8px;
    border-radius: 10px;
  }
  .selected {
    background-color: var(--primary-color);
    color: var(--off-white-color);
  }
}

.transaction__category {
  position: relative;
  category-dropdown {
    position: absolute;
    left: 0;
    top: 60px;
    width: fit-content;
  }
}
.transaction__method {
  position: relative;
  payment-dropdown {
    position: absolute;
    left: 0;
    top: 60px;
    width: fit-content;
    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
