@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

.container {
  width: 850px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
label {
  font-family: 'Noto Sans KR', sans-serif;
}
