.dropdown {
  min-width: 155.25px;
  border-radius: 10px;
  overflow: hidden;
  color: var(--title-color);
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);

  & > div {
    height: 48px;
    background-color: var(--off-white-color);
    padding: 16px 24px;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid var(--line-color);
  }

  & > div:hover {
    background-color: var(--line-color);
  }
}
